@using Firma.Data.Models.CMS;
@model IEnumerable<CMSStrona>
<div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li>@Html.ActionLink("Strona główna","Index","Home")</li>
        @foreach(var item in Model)
        {
            <li>@Html.ActionLink(item.LinkTytul,"Index","Home",new{id=item.IdStrony},null)</li>
        }
        <li>@Html.ActionLink("Sklep internetowy","Promocje","Sklep")</li>
    </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>

