@model Firma.PortalWWW.Models.Koszyk.LogowanieModel;
@{
    //głowny widok rejestracji
    ViewData["Title"] = "Rejestracja";
    Layout = "~/Views/Shared/_KoszykLayout.cshtml";
}

<div>
    <center>
        <h2>Rejestracja</h2>
        <form asp-action="Zarejestruj" asp-controller="Uzytkownik">
            <div class="form-outline mb-4">
                <input type="text" asp-for="Login" class="form-control" placeholder="Login" />
            </div>

            <div class="form-outline mb-4">
                <input type="password" asp-for="Haslo" class="form-control" placeholder="Hasło" />
            </div>

            @if (@Model != null && @Model.Blad != null)
            {
                <h5 style="color: red;">@Model.Blad</h5>
            }

            <button type="submit" class="btn btn-primary btn-block mb-4">Zarejestruj się</button>
        </form>
    </center>
</div>
