@model Firma.Data.Models.CMS.CMSStrona


@{
    ViewData["Title"] = "Create";
}

<h3>Dodaj nową stronę</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LinkTytul" class="control-label"></label>
                <input asp-for="LinkTytul" class="form-control" />
                <span asp-validation-for="LinkTytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tresc" class="control-label"></label>
                <input asp-for="Tresc" class="form-control" />
                <span asp-validation-for="Tresc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pozycja" class="control-label"></label>
                <input asp-for="Pozycja" class="form-control" />
                <span asp-validation-for="Pozycja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-success">Powrót</a> <input type="submit" value="Dodaj" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
